{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/imagenes/Icono/over.png' %}" />
    <title>Terror</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"rel="stylesheet">
    <link type="text/css"  href="{% static 'css/Juegos.css' %}"  rel="stylesheet" />
</head>

<body id=fondo>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <a class="navbar-brand" href="{% url 'index' %}" id="fuente">Categorias</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url     'index' %}">Inicio</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="https://www.google.com/maps/place/R%C3%ADo+Imperial+460,+Valle+Grande,+Lampa,+Regi%C3%B3n+Metropolitana/@-33.3295809,-70.751195,17z/data=!3m1!4b1!4m5!3m4!1s0x9662bf62531dc747:0xc0b4aee73c3b9373!8m2!3d-33.3295854!4d-70.7490063?hl=es-CL">Dirección</a>
              </li>
              
                
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'micuenta' %}">Mi Cuenta</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
            <a class="nav-link" href="{% url 'carrito_compra' %}">carrito</a>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'registrarsejg' %}">Registrarse</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'inicio_sesionjg' %}">Iniciar sesion</a>
                </li>
                
                    <a class="nav-link">(Inicio sesion necesario para ver tu Carrito)</a>
                {% endif %}
            </ul>
      
      
    </nav>

    <section class="colorl">
        <div class="letra">
            <div class="container">
                <div class="center-titulo">
                    <h1 id=titulo>Terror</h1>
                </div>
                <div class="container">
                    <div class="w-33">
                        <div class="center">
                         
                    </div>
                <div class="center">
                    
                    </p>
                </div>
                
            </div>
        </div>
            <div class="container">
                <div class="d-block d-sm-block d-md-none">
                    
                    <h5 class="center margin-tabla">Orden de datos:</h5>
                    
                    <p class="center">1er bloque = Juego<br>2do bloque = Descripcion        </p>
                    
                    
                </div>
                <div class="container tabla-fondo">
                    <div class="row">
                            <div class="d-none d-sm-none d-md-block col-sm-4 border border-secondary fondo-tabla center">
                                <h5>Juego</h5>
                            </div>
                            
                            
                    </div>
                    <section class="terror">
                        {% for i in terror %}
                            {% if i.tipo == 5 %}
                                <div class="producto">
                                    <img src="{{ i.imagen }}" width="250px" height="250px">
                                    <div id="info">
                                        <div class="nombre">
                                            <h1>{{ i.detalle }}</h1>
                                        </div>
                                        <div class="precio">
                                            
                                                <br>${{i.precio}}</b>
                                              
                                        </div>
                                    </div>
                                    {% if i.stock == 0%}
                                        <a href="">no hay stock</a>
                                    {% else %}
                                        <a href="">Stock: {{ i.stock }}</a>
                                        <div id="textoAgregar">
                                            <a href="{% url 'addtocar' i.codigo%}">Agregar</a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </section>